@import "variables";
@import url(https://fonts.googleapis.com/css?family=Oswald);

body {
  background-color: $base-background;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  font-size: 5em;
  .container {
    width: 100%;
    text-align: center;
    .header {
      margin: 0;
      padding: 10px;
      border: none;
      background-color: $light-blue;
    }
    h1 {
      color: $base-font;
    }
    .hidden {
      display: none;
    }
  }
}

@media screen and (min-width: 500px) {
  h1 {
    font-size: 1em;
  }
}
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  h1 {
    font-size: 1em;
  }
}
