doctype html
html(lang='en-US')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title My Title
    link(rel='stylesheet', href='css/main.css')
  body
      <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

      .container
        h1 My Site Title
        h2 Here's Another thing!!!

      // build:js js/vendor.min.js
      // bower:js
      // endbower
      // endbuild
      // build:js js/main.min.js
      script(src="/scripts/common.js")
      script(src="/scripts/index.js")
      script(src="/scripts/contact.js")
      // endbuild
